h1{
    text-align: center;
    text-shadow: none;
}
/* #background{
    background-image: url(./images/shalev-cohen-CmpSqjZf11k-unsplash.jpg);
    background-repeat: no-repeat;
    position: fixed;
    background-size: cover;
    padding: 10%;
   
} */